{% load compress %} 
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'main/iconPL.ico' %}">
    {% include 'navbar.html' %}
</head>
<body>
    <div class="d-flex mt-2 border-2 mb-4">
        <div class="me-auto">
            <h3 class="mb-1">Dashboard: {{ channel_name }}</h3>
            <h6>{{description}}</h6>
        </div>
        <div class="d-flex align-items-center m-0 p-0">
            <button type="button " class="d-flex align-items-center btn-create text-light border-0 px-2 py-0 rounded-3">
                <span class="p-0 m-0 mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-earmark-plus py-0 my-0" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
              </svg></span>Add Sensor</button>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <canvas id="phChart" width="400" height="400"></canvas>
        <canvas id="humidChart" width="400" height="400"></canvas>
        <canvas id="tempChart" width="400" height="400"></canvas>
    </div>


      
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const ph = document.getElementById('phChart');
        const humidity = document.getElementById('humidChart');
        const temperature = document.getElementById('tempChart');
        const phData = {{ ph_values|safe }};
        const timestamps = {{ timestamps|safe }};
        const humidData = {{ humid_values|safe }};
        const tempData = {{ temp_values|safe }};
        const timestamps_temp_humid = {{ timestamps_humid_temp|safe }};
        new Chart(ph, {
            type: 'line',
            data: {
                labels: timestamps,
                datasets: [{
                    label: 'PH Value:',
                    data: phData,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                },
                responsive: false
            }
        });
        new Chart(humidity, {
            type: 'line',
            data: {
                labels: timestamps_temp_humid,
                datasets: [{
                    label: 'Humidity Value:',
                    data: humidData,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                },
                responsive: false
            }
        });
        new Chart(temperature, {
            type: 'line',
            data: {
                labels: timestamps_temp_humid,
                datasets: [{
                    label: 'Temperature Value:',
                    data: tempData,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                },
                responsive: false
            }
        });
    </script>

</body>
</html>