{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'main/iconPL.ico' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% include 'navbar.html' %}
</head>
<body>
    <div class="d-flex mt-2 border-2 mb-4">
        <div class="me-auto">
            <h3 class="mb-1">Dashboard: {{ channel_name }}</h3>
            <h6>Description: {{description}}</h6>
            <h6>Location: {{soil_location}}</h6>
            <div class="container px-0">
                <div class="form-check form-switch ">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" {% if allow_api == "permit" %}checked{% endif %}>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Allow receive sensor data</label>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center m-0 p-0">
            <button  id="shareChannel" href="{% url 'share_channel' channel_id=channel_id %}" class="d-flex align-items-center btn-create text-light border-0 px-2 py-0 rounded-3 text-decoration-none">
                <span class="p-0 m-0 mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-earmark-plus py-0 my-0" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
              </svg></span>Share Channel</button>
        </div>
        <div class="d-flex align-items-center m-0 p-0">
            <a href="{% url "manage_sensor" channel_id=channel_id %}" class="d-flex align-items-center btn-create text-light border-0 px-2 py-0 rounded-3 text-decoration-none mx-2">
                <span class="p-0 m-0 mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-earmark-plus py-0 my-0" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
              </svg></span>Configure Sensor</a>
        </div>
        <div class="d-flex align-items-center m-0 p-0">
            <a href="{% url 'add_sensor' channel_id=channel_id %}" class="d-flex align-items-center btn-create text-light border-0 px-2 py-0 rounded-3 text-decoration-none">
                <span class="p-0 m-0 mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-earmark-plus py-0 my-0" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
              </svg></span>Add Sensor</a>
        </div>
    </div>
    <div id="canvas" class="d-flex align-content-start flex-wrap justify-content-between">
        <!-- Canvas elements and dropdowns will be added here dynamically -->
        <div id="chart-spinner-container" class="text-center" style="width: 400px; height: 400px; display: none;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
            <div id="chart-loading-message">Graph is being loaded...</div>
        </div>
    </div>

    <div id="empty_sensor">Add a new sensor to view a chart!</div>
    
    <div class="container mt-5 mx-0 px-0">
        <div class="d-flex align-items-center">
            <h2 class="me-5">Crop Recommendations</h2>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareTableModal">Share Table</button>
        </div>
        <table id="crop-recommendations-table" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Crop</th>
                    <th scope="col">Prediction Accuracy (%)</th>
                </tr>
            </thead>
            <tbody id="crop-recommendations">
                <!-- Table rows will be added here dynamically -->
            </tbody>
        </table>
        <div id="table-spinner-container" class="text-center" style="display: none;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
            <div id="table-loading-message">Table is being loaded...</div>
        </div>
    </div>

    <!-- Share Chart Modal -->
    <div class="modal fade" id="shareChartModal" tabindex="-1" aria-labelledby="shareChartModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shareChartModalLabel">Share Chart</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="shareChartForm">
                        <div class="mb-3">
                            <label for="chartName" class="form-label">Chart Name</label>
                            <input type="text" class="form-control" id="chartName" required>
                        </div>
                        <div class="mb-3">
                            <label for="startDate" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="startDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="endDate" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="endDate" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Generate Embed Code</button>
                    </form>
                    <div id="shareOptions" style="display: none;">
                        <br>
                        <button type="button" class="btn btn-success mt-3" id="shareToPlantFeed">Share to PlantFeed</button>
                        <div class="mt-3">
                            <br>
                            <label for="embedCode" class="form-label">Embed Code</label>
                            <div class="copy-text row">
                                <input id="embedCode" type="text" class="text col-11" value="" style="word-wrap:break-word" disabled/>
                                <button class="col"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard " viewBox="0 0 16 16">
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                                  </svg></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Share Table Modal -->
    <div class="modal fade" id="shareTableModal" tabindex="-1" aria-labelledby="shareTableModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shareTableModalLabel">Share Table</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="shareTableForm">
                        <div class="mb-3">
                            <label for="tableName" class="form-label">Table Name</label>
                            <input type="text" class="form-control" id="tableName" required>
                        </div>
                        <div class="mb-3">
                            <label for="tableStartDate" class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="tableStartDate" required>
                        </div>
                        <div class="mb-3">
                            <label for="tableEndDate" class="form-label">End Date</label>
                            <input type="date" class="form-control" id="tableEndDate" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Generate Embed Code</button>
                    </form>
                    <div id="shareTableOptions" style="display: none;">
                        <br>
                        <button type="button" class="btn btn-success mt-3" id="shareTableToPlantFeed">Share to PlantFeed</button>
                        <div class="mt-3">
                            <br>
                            <label for="embedTableCode" class="form-label">Embed Code</label>
                            <div class="copy-text row">
                                <input id="embedTableCode" type="text" class="text col-11" value="" style="word-wrap:break-word" disabled/>
                                <button class="col"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard " viewBox="0 0 16 16">
                                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
                                  </svg></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %} api modal {% endcomment %}
    <div class="modal fade" id="apiModal" tabindex="-1" aria-labelledby="apiModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="apiModalLabel">API Access</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="apiModalBody">
                    <!-- Message will be populated by JavaScript -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Define chart variables
        let phChart = null, humidChart = null, tempChart = null, rainfallChart = null, nitrogenChart = null, phosphorousChart = null, potassiumChart = null;
        document.addEventListener("DOMContentLoaded", function() {
            const channelId = "{{ channel_id }}"; 
            let latest_ph = null;
            let latest_humidity = null;
            let latest_temperature = null;
            let latest_rainfall = null;
            let latest_nitrogen = null;
            let latest_phosphorous = null;
            let latest_potassium = null;
            // Show the spinners and messages before fetching data
            if ("{{ graph_count }}" > 0) {
                document.getElementById('chart-spinner-container').style.display = 'block';
                document.getElementById('table-spinner-container').style.display = 'block';
            } else {
                document.getElementById('empty_sensor').style.display = 'block';
            }
        
            fetch(`/mychannel/${channelId}/get_dashboard_data/`)  // Correct the fetch URL
                .then(response => response.json())
                .then(data => {
                    latest_ph = data.ph_values.length ? data.ph_values[data.ph_values.length - 1] : null;
                    latest_humidity = data.humid_values.length ? data.humid_values[data.humid_values.length - 1] : null;
                    latest_temperature = data.temp_values.length ? data.temp_values[data.temp_values.length - 1] : null;
                    latest_rainfall = data.rainfall_values.length ? data.rainfall_values[data.rainfall_values.length - 1] : null;
                    latest_nitrogen = data.nitrogen_values.length ? data.nitrogen_values[data.nitrogen_values.length - 1] : null;
                    latest_phosphorous = data.phosphorous_values.length ? data.phosphorous_values[data.phosphorous_values.length - 1] : null;
                    latest_potassium = data.potassium_values.length ? data.potassium_values[data.potassium_values.length - 1] : null;

                    // Hide the spinners and messages after fetching data
                    document.getElementById('chart-spinner-container').style.display = 'none';
                    document.getElementById('table-spinner-container').style.display = 'none';
        
                    // Extract data for charts and table
                    const phData = data.ph_values || [];
                    const timestamps = data.timestamps || [];
                    const rainfallData = data.rainfall_values || [];
                    const rainfall_timestamps = data.rainfall_timestamps || [];
                    const humidData = data.humid_values || [];
                    const nitrogenData = data.nitrogen_values || [];
                    const phosphorousData = data.phosphorous_values || [];
                    const potassiumData = data.potassium_values || [];
                    const tempData = data.temp_values || [];
                    const timestamps_temp_humid = data.timestamps_humid_temp || [];
                    const timestamps_NPK = data.timestamps_NPK || [];
        
                    // Check if there is any data to show charts
                    if (phData.length === 0 && humidData.length === 0 && tempData.length === 0) {
                        document.getElementById('empty_sensor').style.display = 'block';
                    } else {
                        document.getElementById('empty_sensor').style.display = 'none';
        
                        // Update charts
                        if (phData.length > 0) {
                            const phCanvasContainer = document.createElement('div');
                            phCanvasContainer.className = 'canvas-container';
                            const phCanvas = document.createElement('canvas');
                            phCanvas.id = 'phChart';
                            phCanvas.width = 450;
                            phCanvas.height = 400;
                            phCanvasContainer.appendChild(phCanvas);
                            document.getElementById('canvas').appendChild(phCanvasContainer);
                            phChart = createChart(phCanvas.id, phData, timestamps, 'PH Value');
                            addDropdown(phCanvasContainer, phChart);
                            addShareButton(phCanvasContainer, phCanvas.id, "phChart");
                        }
                        
                        if (rainfallData.length > 0) {
                            const rainfallCanvasContainer = document.createElement('div');
                            rainfallCanvasContainer.className = 'canvas-container';
                            const rainfallCanvas = document.createElement('canvas');
                            rainfallCanvas.id = 'rainfallChart';
                            rainfallCanvas.width = 450;
                            rainfallCanvas.height = 400;
                            rainfallCanvasContainer.appendChild(rainfallCanvas);
                            document.getElementById('canvas').appendChild(rainfallCanvasContainer);
                            rainfallChart = createChart(rainfallCanvas.id, rainfallData, rainfall_timestamps, 'Rainfall Value');
                            addDropdown(rainfallCanvasContainer, rainfallChart);
                            addShareButton(rainfallCanvasContainer, rainfallCanvas.id, "rainfallChart");
                        }

                        if (humidData.length > 0) {
                            const humidCanvasContainer = document.createElement('div');
                            humidCanvasContainer.className = 'canvas-container';
                            const humidCanvas = document.createElement('canvas');
                            humidCanvas.id = 'humidChart';
                            humidCanvas.width = 450;
                            humidCanvas.height = 400;
                            humidCanvasContainer.appendChild(humidCanvas);
                            document.getElementById('canvas').appendChild(humidCanvasContainer);
                            humidChart = createChart(humidCanvas.id, humidData, timestamps_temp_humid, 'Humidity Value');
                            addDropdown(humidCanvasContainer, humidChart);
                            addShareButton(humidCanvasContainer, humidCanvas.id, "humidityChart");
                        }
        
                        if (tempData.length > 0) {
                            const tempCanvasContainer = document.createElement('div');
                            tempCanvasContainer.className = 'canvas-container';
                            const tempCanvas = document.createElement('canvas');
                            tempCanvas.id = 'tempChart';
                            tempCanvas.width = 450;
                            tempCanvas.height = 400;
                            tempCanvasContainer.appendChild(tempCanvas);
                            document.getElementById('canvas').appendChild(tempCanvasContainer);
                            tempChart = createChart(tempCanvas.id, tempData, timestamps_temp_humid, 'Temperature Value');
                            addDropdown(tempCanvasContainer, tempChart);
                            addShareButton(tempCanvasContainer, tempCanvas.id, "temperatureChart");
                        }

                        if (nitrogenData.length > 0) {
                            const nitrogenCanvasContainer = document.createElement('div');
                            nitrogenCanvasContainer.className = 'canvas-container';
                            const nitrogenCanvas = document.createElement('canvas');
                            nitrogenCanvas.id = 'nitrogenChart';
                            nitrogenCanvas.width = 450;
                            nitrogenCanvas.height = 400;
                            nitrogenCanvasContainer.appendChild(nitrogenCanvas);
                            document.getElementById('canvas').appendChild(nitrogenCanvasContainer);
                            nitrogenChart = createChart(nitrogenCanvas.id, nitrogenData, timestamps_NPK, 'Nitrogen Value');
                            addDropdown(nitrogenCanvasContainer, nitrogenChart);
                            addShareButton(nitrogenCanvasContainer, nitrogenCanvas.id, "nitrogenChart");
                        }
                        
                        if (phosphorousData.length > 0) {
                            const phosphorousCanvasContainer = document.createElement('div');
                            phosphorousCanvasContainer.className = 'canvas-container';
                            const phosphorousCanvas = document.createElement('canvas');
                            phosphorousCanvas.id = 'phosphorousChart';
                            phosphorousCanvas.width = 450;
                            phosphorousCanvas.height = 400;
                            phosphorousCanvasContainer.appendChild(phosphorousCanvas);
                            document.getElementById('canvas').appendChild(phosphorousCanvasContainer);
                            phosphorousChart = createChart(phosphorousCanvas.id, phosphorousData, timestamps_NPK, 'phosphorous Value');
                            addDropdown(phosphorousCanvasContainer, phosphorousChart);
                            addShareButton(phosphorousCanvasContainer, phosphorousCanvas.id, "phosphorousChart");
                        }
                        
                        if (potassiumData.length > 0) {
                            const potassiumCanvasContainer = document.createElement('div');
                            potassiumCanvasContainer.className = 'canvas-container';
                            const potassiumCanvas = document.createElement('canvas');
                            potassiumCanvas.id = 'potassiumChart';
                            potassiumCanvas.width = 450;
                            potassiumCanvas.height = 400;
                            potassiumCanvasContainer.appendChild(potassiumCanvas);
                            document.getElementById('canvas').appendChild(potassiumCanvasContainer);
                            potassiumChart = createChart(potassiumCanvas.id, potassiumData, timestamps_NPK, 'Potassium Value');
                            addDropdown(potassiumCanvasContainer, potassiumChart);
                            addShareButton(potassiumCanvasContainer, potassiumCanvas.id, "potassiumChart");
                        }
                    }
        
                    if (data.crop_recommendations && data.crop_recommendations.length > 0) {
                        const cropRecommendations = data.crop_recommendations;
                        const cropRecommendationsContainer = document.getElementById('crop-recommendations');
                        cropRecommendations.forEach(recommendation => {
                            const row = document.createElement('tr');
                            const cropCell = document.createElement('td');
                            cropCell.innerText = recommendation.crop;
                            const accuracyCell = document.createElement('td');
                            accuracyCell.innerText = recommendation.accuracy.toFixed(2);
                            row.appendChild(cropCell);
                            row.appendChild(accuracyCell);
                            cropRecommendationsContainer.appendChild(row);
                        });
                    }
        
                    // Initialize WebSocket connection
                    const socket = new WebSocket('wss://jzngfcdfgl.execute-api.ap-southeast-2.amazonaws.com/production/');
            
                    socket.onopen = function() {
                        console.log('WebSocket connection established');
                        // Send the API key to register the connection
                        socket.send(JSON.stringify({
                            action: 'setAPI',
                            api: data.API  // Use the API key from the fetched data
                        }));
                    };
                
                    socket.onclose = function(event) {
                        console.log('WebSocket connection closed', event);
                    };
                
                    socket.onerror = function(error) {
                        console.log('WebSocket error', error);
                    };
                
                    socket.onmessage = function(event) {
                        const messageData = JSON.parse(event.data);
                        console.log('WebSocket message received', messageData);
                
                        if (messageData.privateMessage) {
                            const messageContent = messageData.privateMessage;  // Directly use the object
                            console.log('Parsed message content', messageContent);
                
                            if (messageContent.sensor_type === 'DHT11') {
                                updateHumidityChart(messageContent);
                                updateTemperatureChart(messageContent);
                                latest_temperature = messageContent.temperature_value;
                                latest_humidity = messageContent.humidity_value;
                                updateCropSuggestions(latest_ph, latest_temperature, latest_humidity, latest_rainfall, latest_nitrogen, latest_phosphorous, latest_potassium);
                            } else if (messageContent.sensor_type === 'ph_sensor') {
                                updatePhChart(messageContent);
                                latest_ph = messageContent.ph_value;
                                updateCropSuggestions(latest_ph, latest_temperature, latest_humidity, latest_rainfall, latest_nitrogen, latest_phosphorous, latest_potassium);
                            } else if (messageContent.sensor_type === 'NPK'){
                                updateNitrogenChart(messageContent);
                                updatephosphorousChart(messageContent);
                                updatePotassiumChart(messageContent);
                                latest_nitrogen=messageContent.nitrogen_value;
                                latest_phosphorous=messageContent.phosphorous_value;
                                latest_potassium=messageContent.potassium_value;
                                updateCropSuggestions(latest_ph, latest_temperature, latest_humidity, latest_rainfall, latest_nitrogen, latest_phosphorous, latest_potassium);
                            }else if(messageContent.sensor_type === "rainfall_sensor"){
                                updateRainfallChart(messageContent);
                                latest_rainfall = messageContent.rainfall_value;
                                updateCropSuggestions(latest_ph, latest_temperature, latest_humidity, latest_rainfall, latest_nitrogen, latest_phosphorous, latest_potassium);
                            }
                        }
                    };
                })
                .catch(error => {
                    console.error('Error fetching dashboard data:', error);
                    // Hide the spinners and show error messages if needed
                    document.getElementById('chart-spinner-container').style.display = 'none';
                    document.getElementById('table-spinner-container').style.display = 'none';
                });
        });
        
        function createChart(canvasId, data, labels, label, type = 'line') {
            const config = {
                type: type,
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: data,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        backgroundColor: type === 'bar' ? 'rgba(255, 99, 132, 0.2)' : 'rgb(75, 192, 192)',
                    }]
                },
                options: {
                    elements: {
                        line: {
                            tension: type === 'spline' ? 0.4 : 0.1  // Set tension for spline
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: false
                        },
                        x: {
                            ticks: {
                                maxRotation: 90,
                                minRotation: 80
                            }
                        }
                    },
                    responsive: false,
                    maintainAspectRatio: false
                }
            };
            const canvas = document.getElementById(canvasId);
            return new Chart(canvas, config);
        }
        
        function addDropdown(container, chart) {
            const dropdownWrapper = document.createElement('div');
            dropdownWrapper.className = 'btn-group';
        
            const dropdownButton = document.createElement('button');
            dropdownButton.className = 'btn btn-success dropdown-toggle mt-1';
            dropdownButton.type = 'button';
            dropdownButton.id = 'dropdownMenuButton';
            dropdownButton.setAttribute('data-bs-toggle', 'dropdown');
            dropdownButton.setAttribute('aria-expanded', 'false');
            dropdownButton.innerText = 'Select Chart Type';
        
            const dropdownMenu = document.createElement('ul');
            dropdownMenu.className = 'dropdown-menu';
            dropdownMenu.setAttribute('aria-labelledby', 'dropdownMenuButton');
            dropdownMenu.setAttribute('data-bs-display', 'static');
            dropdownMenu.innerHTML = `
                <li><a class="dropdown-item" href="#" data-type="line">Line</a></li>
                <li><a class="dropdown-item" href="#" data-type="bar">Bar</a></li>
                <li><a class="dropdown-item" href="#" data-type="spline">Spline</a></li>
            `;
        
            dropdownMenu.addEventListener('click', function(event) {
                const selectedType = event.target.getAttribute('data-type');
                if (selectedType) {
                    chart.config.type = selectedType === 'spline' ? 'line' : selectedType;
                    chart.config.options.elements = chart.config.options.elements || {};
                    chart.config.options.elements.line = chart.config.options.elements.line || {};
                    if (selectedType === 'spline') {
                        chart.config.options.elements.line.tension = 0.4;
                    } else {
                        chart.config.options.elements.line.tension = 0.1;
                    }
                    chart.data.datasets[0].backgroundColor = selectedType === 'bar' ? 'rgba(75, 192, 192, 0.2)' : 'rgb(75, 192, 192)';
                    chart.update();
                }
            });
        
            dropdownWrapper.appendChild(dropdownButton);
            dropdownWrapper.appendChild(dropdownMenu);
            container.appendChild(dropdownWrapper);
        }
        
        function addShareButton(container, canvasId, chartType) {
            const shareButton = document.createElement('button');
            shareButton.className = 'btn btn-primary mt-1 ms-2';
            shareButton.innerText = 'Share Chart';
            shareButton.setAttribute('data-bs-toggle', 'modal');
            shareButton.setAttribute('data-bs-target', '#shareChartModal');
            shareButton.setAttribute('data-chart-type', chartType);
        
            shareButton.addEventListener('click', function() {
                const shareToPlantFeedButton = document.getElementById('shareToPlantFeed');
                shareToPlantFeedButton.setAttribute('data-chart-type', chartType);
        
                const form = document.getElementById('shareChartForm');
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    const chartName = document.getElementById('chartName').value;
                    const startDate = document.getElementById('startDate').value;
                    const endDate = document.getElementById('endDate').value;
        
                    const shareOptions = document.getElementById('shareOptions');
                    shareOptions.style.display = 'block';
        
                    const embedCode = document.getElementById('embedCode');
                    embedCode.value = `https://shiroooo.pythonanywhere.com/mychannel/embed/channel/{{ channel_id }}/${chartType}/${startDate}/${endDate}/`;
        
                    shareToPlantFeedButton.setAttribute('data-start-date', startDate);
                    shareToPlantFeedButton.setAttribute('data-end-date', endDate);
                    shareToPlantFeedButton.setAttribute('data-chart-name', chartName);
                }, { once: true });
            });
        
            container.appendChild(shareButton);
        }
        document.addEventListener("DOMContentLoaded", function(){
            const shareChannelToPlantfeed = document.getElementById('shareChannel');
            shareChannelToPlantfeed.addEventListener("click",function(){
                let url="/mychannel/{{ channel_id }}/share";
                fetch(url,{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Successfully shared channel to PlantFeed');
                    } else {
                        alert('Failed to share channel to PlantFeed');
                    }
                })
                .catch(error => {
                    console.error('Error sharing channel:', error);
                    alert('An error occurred while sharing the channel');
                });
            })
        })
        document.addEventListener('DOMContentLoaded', function() {
            const copyButton = document.querySelector('.copy-text button');
            const embedCodeInput = document.getElementById('embedCode');
        
            copyButton.addEventListener('click', function() {
                navigator.clipboard.writeText(embedCodeInput.value).then(() => {
                    alert('Embed code copied to clipboard!');
                }).catch(err => {
                    console.error('Error copying text: ', err);
                });
            });
            
            const shareToPlantFeedButton = document.getElementById('shareToPlantFeed');
            shareToPlantFeedButton.addEventListener('click', function() {
                const chartType = shareToPlantFeedButton.getAttribute('data-chart-type');
                const chartName = document.getElementById('chartName').value;
                const startDate = shareToPlantFeedButton.getAttribute('data-start-date');
                const endDate = shareToPlantFeedButton.getAttribute('data-end-date');
                let url;
                switch (chartType) {
                    case 'phChart':
                        url = `/mychannel/{{ channel_id }}/share_chart/phChart/${startDate}/${endDate}/${chartName}/`;
                        break;
                    case 'rainfallChart':
                        url = `/mychannel/{{ channel_id }}/share_chart/rainfallChart/${startDate}/${endDate}/${chartName}/`;
                        break;
                    case 'humidityChart':
                        url = `/mychannel/{{ channel_id }}/share_chart/humidityChart/${startDate}/${endDate}/${chartName}/`;
                        break;
                    case 'temperatureChart':
                        url = `/mychannel/{{ channel_id }}/share_chart/temperatureChart/${startDate}/${endDate}/${chartName}/`;
                        break;
                    case 'nitrogenChart':
                        url = `/mychannel/{{ channel_id }}/share_chart/nitrogenChart/${startDate}/${endDate}/${chartName}/`;
                        break;
                    case 'phosphorousChart':
                        url = `/mychannel/{{ channel_id }}/share_chart/phosphorousChart/${startDate}/${endDate}/${chartName}/`;
                        break;
                    case 'potassiumChart':
                        url = `/mychannel/{{ channel_id }}/share_chart/potassiumChart/${startDate}/${endDate}/${chartName}/`;
                        break;
                    default:
                        console.error('Invalid chart type');
                        return;
                }
        
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Successfully shared chart to PlantFeed');
                    } else {
                        alert('Failed to share chart to PlantFeed');
                    }
                })
                .catch(error => {
                    console.error('Error sharing chart:', error);
                    alert('An error occurred while sharing the chart');
                });
            });

            const copyTableButton = document.querySelector('#shareTableOptions .copy-text button');
            const embedTableCodeInput = document.getElementById('embedTableCode');
        
            copyTableButton.addEventListener('click', function() {
                navigator.clipboard.writeText(embedTableCodeInput.value).then(() => {
                    alert('Embed code copied to clipboard!');
                }).catch(err => {
                    console.error('Error copying text: ', err);
                });
            });

            const shareTableForm = document.getElementById('shareTableForm');
            const shareTableOptions = document.getElementById('shareTableOptions');
            const shareTableToPlantFeedButton = document.getElementById('shareTableToPlantFeed');

            shareTableForm.addEventListener('submit', function(event) {
                event.preventDefault();
                const tableName = document.getElementById('tableName').value;
                const tableStartDate = document.getElementById('tableStartDate').value;
                const tableEndDate = document.getElementById('tableEndDate').value;

                shareTableOptions.style.display = 'block';
                const embedTableCode = document.getElementById('embedTableCode');
                embedTableCode.value = `https://shiroooo.pythonanywhere.com/mychannel/embed/channel/{{ channel_id }}/cropTable/${tableStartDate}/${tableEndDate}/`;

                shareTableToPlantFeedButton.setAttribute('data-start-date', tableStartDate);
                shareTableToPlantFeedButton.setAttribute('data-end-date', tableEndDate);
                shareTableToPlantFeedButton.setAttribute('data-table-name', tableName);
            });

            shareTableToPlantFeedButton.addEventListener('click', function() {
                const tableName = shareTableToPlantFeedButton.getAttribute('data-table-name');
                const tableStartDate = shareTableToPlantFeedButton.getAttribute('data-start-date');
                const tableEndDate = shareTableToPlantFeedButton.getAttribute('data-end-date');

                const url = `/mychannel/{{ channel_id }}/share_table/cropTable/${tableStartDate}/${tableEndDate}/${tableName}/`;

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Successfully shared table to PlantFeed');
                    } else {
                        alert('Failed to share table to PlantFeed');
                    }
                })
                .catch(error => {
                    console.error('Error sharing table:', error);
                    alert('An error occurred while sharing the table');
                });
            });
        });
        
        function updateHumidityChart(data) {
            if (!humidChart) {
                console.error('humidChart is not defined');
                return;
            }
            humidChart.data.labels.push(data.timestamp);
            humidChart.data.datasets[0].data.push(parseFloat(data.humidity_value));
            humidChart.update();
            console.log('Updating humidity chart with data:', data);
        }
        
        function updateTemperatureChart(data) {
            if (!tempChart) {
                console.error('tempChart is not defined');
                return;
            }
            tempChart.data.labels.push(data.timestamp);
            tempChart.data.datasets[0].data.push(parseFloat(data.temperature_value));
            tempChart.update();
            console.log('Updating temperature chart with data:', data);
        }
        
        function updatephosphorousChart(data) {
            if (!phosphorousChart) {
                console.error('phosphorousChart is not defined');
                return;
            }
            phosphorousChart.data.labels.push(data.timestamp);
            phosphorousChart.data.datasets[0].data.push(parseFloat(data.phosphorous_value));
            phosphorousChart.update();
            console.log('Updating temperature chart with data:', data);
        }
        
        function updatePotassiumChart(data) {
            if (!potassiumChart) {
                console.error('potassiumChart is not defined');
                return;
            }
            potassiumChart.data.labels.push(data.timestamp);
            potassiumChart.data.datasets[0].data.push(parseFloat(data.potassium_value));
            potassiumChart.update();
            console.log('Updating temperature chart with data:', data);
        }
        
        function updateNitrogenChart(data) {
            if (!nitrogenChart) {
                console.error('nitrogenChart is not defined');
                return;
            }
            nitrogenChart.data.labels.push(data.timestamp);
            nitrogenChart.data.datasets[0].data.push(parseFloat(data.nitrogen_value));
            nitrogenChart.update();
            console.log('Updating temperature chart with data:', data);
        }
        
        function updatePhChart(data) {
            if (!phChart) {
                console.error('phChart is not defined');
                return;
            }
            phChart.data.labels.push(data.timestamp);
            phChart.data.datasets[0].data.push(parseFloat(data.ph_value));
            phChart.update();
            console.log('Updating pH chart with data:', data);
        }        
        
        function updateRainfallChart(data) {
            if (!rainfallChart) {
                console.error('rainfallChart is not defined');
                return;
            }
            rainfallChart.data.labels.push(data.timestamp);
            rainfallChart.data.datasets[0].data.push(parseFloat(data.rainfall_value));
            rainfallChart.update();
            console.log('Updating rainfall chart with data:', data);
        }  

        function updateCropSuggestions(ph, temperature, humidity, rainfall, nitrogen, phosphorous, potassium) {
            fetch(`get_crop_suggestions/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    ph: ph,
                    temperature: temperature,
                    humidity: humidity,
                    rainfall:rainfall,
                    nitrogen:nitrogen,
                    phosphorous:phosphorous,
                    potassium:potassium
                })
            })
            .then(response => response.json())
            .then(data => {
                const cropRecommendationsContainer = document.getElementById('crop-recommendations');
                cropRecommendationsContainer.innerHTML = '';  // Clear existing rows
    
                data.crop_recommendations.forEach(recommendation => {
                    const row = document.createElement('tr');
                    const cropCell = document.createElement('td');
                    cropCell.innerText = recommendation.crop;
                    const accuracyCell = document.createElement('td');
                    accuracyCell.innerText = recommendation.accuracy.toFixed(2);
                    row.appendChild(cropCell);
                    row.appendChild(accuracyCell);
                    cropRecommendationsContainer.appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error fetching crop suggestions:', error);
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            const apiSwitch = document.getElementById('flexSwitchCheckDefault');
            const apiModal = new bootstrap.Modal(document.getElementById('apiModal'));
            const apiModalBody = document.getElementById('apiModalBody');
            const channelId = '{{ channel_id }}';

            apiSwitch.addEventListener('change', function () {
                const initialState = this.checked;
                let url = `/mychannel/${channelId}/`;
                url += initialState ? 'permit_API' : 'forbid_API';

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        const message = initialState ? 'Successfully permitted API access.' : 'Successfully forbidden API access.';
                        apiModalBody.textContent = message;
                        apiModal.show();
                    } else {
                        const message = initialState ? 'Failed to permit API access.' : 'Failed to forbid API access.';
                        apiModalBody.textContent = message;
                        apiSwitch.checked = !initialState; // Revert the switch state
                        apiModal.show();
                    }
                })
                .catch(error => {
                    apiModalBody.textContent = 'An error occurred while changing API access.';
                    apiSwitch.checked = !initialState; // Revert the switch state
                    apiModal.show();
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>
