{% load compress %} 
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'main/iconPL.ico' %}">
    {% include 'navbar.html' %}
</head>
<body>
    <div class="d-flex mt-2 border-2 mb-4">
        <div class="me-auto">
            <h3 class="mb-1">Dashboard: {{ channel_name }}</h3>
            <h6>{{description}}</h6>
        </div>
        <div class="d-flex align-items-center m-0 p-0">
            <a href="{% url "manage_sensor" channel_id=channel_id %}" class="d-flex align-items-center btn-create text-light border-0 px-2 py-0 rounded-3 text-decoration-none">
                <span class="p-0 m-0 mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-earmark-plus py-0 my-0" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
              </svg></span>Configure Sensor</a>
        </div>
        <div class="d-flex align-items-center m-0 p-0">
            <a href="{% url 'add_sensor' channel_id=channel_id %}" class="d-flex align-items-center btn-create text-light border-0 px-2 py-0 rounded-3">
                <span class="p-0 m-0 mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-earmark-plus py-0 my-0" viewBox="0 0 16 16">
                <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
              </svg></span>Add Sensor</a>
        </div>
    </div>
    <div id="canvas" class="d-flex justify-content-between">
        <!-- Canvas elements and dropdowns will be added here dynamically -->
    </div>
    <div id="testing"></div>
    <div id="empty_sensor">Add a new sensor to view a chart!</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const socket = new WebSocket('ws://localhost:8000/ws/sensor_data/');
        // const socket = new WebSocket('ws://192.168.x.x:8001/ws/sensor_data/'); // Use your local IP address if necessary

        socket.onopen = function() {
            console.log('WebSocket connection established');
        };

        socket.onclose = function(event) {
            console.log('WebSocket connection closed', event);
        };

        socket.onerror = function(error) {
            console.log('WebSocket error', error);
        };

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log('WebSocket message received', data);
            if (data.sensor_type === 'DHT11') {
                updateHumidityChart(data);
                updateTemperatureChart(data);
            } else if (data.sensor_type === 'ph_sensor') {
                updatePhChart(data);
            }
        };

        function updateHumidityChart(data) {
            if (!humidChart) return;
            humidChart.data.labels.push(data.timestamp);
            humidChart.data.datasets[0].data.push(data.humidity_value);
            humidChart.update();
            console.log('Updating humidity chart with data:', data);
        }

        function updateTemperatureChart(data) {
            if (!tempChart) return;
            tempChart.data.labels.push(data.timestamp);
            tempChart.data.datasets[0].data.push(data.temperature_value);
            tempChart.update();
            console.log('Updating temperature chart with data:', data);
        }

        function updatePhChart(data) {
            if (!phChart) return;
            phChart.data.labels.push(data.timestamp);
            phChart.data.datasets[0].data.push(data.ph_value);
            phChart.update();
            console.log('Updating pH chart with data:', data);
        }

        function createChart(canvasId, data, labels, label, type = 'line') {
            const config = {
                type: type,
                data: {
                    labels: labels,
                    datasets: [{
                        label: label,
                        data: data,
                        fill: false,
                        borderColor: 'rgb(75, 192, 192)',
                        backgroundColor: type === 'bar' ? 'rgba(255, 99, 132, 0.2)' : 'rgb(75, 192, 192)',
                        //tension: type === 'spline' ? 0.4 : 0.1  // Set tension for spline
                    }]
                },
                options: {
                    elements: {
                        line: {
                            //tension: type === 'spline' ? 0.4 : 0.1  // Set tension for spline
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: false
                        },
                        x: {
                            ticks: {
                                maxRotation: 90,
                                minRotation: 80
                            }
                        }
                    },
                    responsive: false,
                    maintainAspectRatio: false
                }
            };
            const canvas = document.getElementById(canvasId);
            return new Chart(canvas, config);
        }

        function addDropdown(container, chart) {
            const dropdown = document.createElement('select');
            dropdown.className = 'chart-type-dropdown';
            dropdown.innerHTML = `
                <option value="line">Line</option>
                <option value="bar">Bar</option>
                <option value="spline">Spline</option>
            `;
            dropdown.addEventListener('change', function() {
                const selectedType = dropdown.value;
                chart.config.type = selectedType === 'spline' ? 'line' : selectedType;
                chart.config.options.elements = chart.config.options.elements || {};
                chart.config.options.elements.line = chart.config.options.elements.line || {};
                if (selectedType === 'spline') {
                    chart.config.options.elements.line.tension = 0.4;
                } else {
                    chart.config.options.elements.line.tension = 0.1;
                }
                chart.data.datasets[0].backgroundColor = selectedType === 'bar' ? 'rgba(75, 192, 192, 0.2)' : 'rgb(75, 192, 192)';
                chart.update();
            });
            container.appendChild(dropdown);
        }

        const canvasContainer = document.getElementById('canvas');
        const empty_sensor = document.getElementById('empty_sensor');
        empty_sensor.style.display = 'none';

        const phData = {{ ph_values|safe }};
        const timestamps = {{ timestamps|safe }};
        const humidData = {{ humid_values|safe }};
        const tempData = {{ temp_values|safe }};
        const timestamps_temp_humid = {{ timestamps_humid_temp|safe }};

        let phChart, humidChart, tempChart;
        if (phData.length > 0) {
            const phCanvasContainer = document.createElement('div');
            const phCanvas = document.createElement('canvas');
            phCanvas.id = 'phChart';
            phCanvas.width = 400;
            phCanvas.height = 400;
            phCanvasContainer.appendChild(phCanvas);
            canvasContainer.appendChild(phCanvasContainer);
            phChart = createChart(phCanvas.id, phData, timestamps, 'PH Value');
            addDropdown(phCanvasContainer, phChart);
        }

        if (humidData.length > 0) {
            const humidCanvasContainer = document.createElement('div');
            const humidCanvas = document.createElement('canvas');
            humidCanvas.id = 'humidChart';
            humidCanvas.width = 400;
            humidCanvas.height = 400;
            humidCanvasContainer.appendChild(humidCanvas);
            canvasContainer.appendChild(humidCanvasContainer);
            humidChart = createChart(humidCanvas.id, humidData, timestamps_temp_humid, 'Humidity Value');
            addDropdown(humidCanvasContainer, humidChart);
        }

        if (tempData.length > 0) {
            const tempCanvasContainer = document.createElement('div');
            const tempCanvas = document.createElement('canvas');
            tempCanvas.id = 'tempChart';
            tempCanvas.width = 400;
            tempCanvas.height = 400;
            tempCanvasContainer.appendChild(tempCanvas);
            canvasContainer.appendChild(tempCanvasContainer);
            tempChart = createChart(tempCanvas.id, tempData, timestamps_temp_humid, 'Temperature Value');
            addDropdown(tempCanvasContainer, tempChart);
        }

        if (phData.length === 0 && humidData.length === 0 && tempData.length === 0) {
            empty_sensor.style.display = 'block';
        }
    </script>
    <div class="container mt-5 mx-0 px-0">
        <h2 class="mb-4">Crop Recommendations</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Crop</th>
                    <th scope="col">Prediction Accuracy (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for recommendation in crop_recommendations %}
                <tr>
                    <td>{{ recommendation.crop }}</td>
                    <td>{{ recommendation.accuracy }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
