{% load compress %} 
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/logPlantFeed.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'main/iconPL.ico' %}">

</head>
<body>
    <div id="login_form">
        <div id="space"></div>
        <div class="mb-2 navbar-brand fw-bold fst-italic"><span class="logo-plant">Plant</span><span class="logo-link">link</span></div>
        <div>Please login to use Plant Link</div>
        <div class="login_field mt-5"> 
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="At least 8 characters">
            </div>
            <div class="forget_password">
                <a>Forget password?</a>
            </div>
            <button type="button" class="sign_in_button mt-3">Sign in</button>
        </div>
    </div>
</body>
</html>